* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button {
    border: none;
    background-color: unset;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html, body, #root {
    height: 100%;
}

.App {
    height: 408px;
    display: flex;
    align-items: center;
    justify-content: center;
}

